[Unit]
Description=User resume actions
After=suspend.target

[Service]
User=%I
Type=simple
Environment=DISPLAY=:0
ExecStart=/home/gehidore/.local/pbin/udev-monitor-hotuplug/hotplug.sh

[Install]
WantedBy=suspend.target
